<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>
<div class = "container">
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Admin Menu</a>
      </header>
      <ul class="nav">
        <li>
          <a th:href="@{/admin/user}">
            <i class="zmdi zmdi-view-dashboard"><span class="glyphicon glyphicon-user"></span></i> User
          </a>
        </li>
        <li>
          <a th:href="@{/admin/post}">
            <i class="zmdi zmdi-link"><span class="glyphicon glyphicon-envelope"></span></i> Post
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      <div class="container-fluid">
        <div class="panel panel-default">
					<div class="panel-heading" style="background-color: #263238; color:white;padding-bottom: 5px;">
						<h3 style="margin-top: 0px; text-align: center;">List Post</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered" style="font-size: 10px;">
							<thead style="text-align: center">
								<tr>
									<th>Image</th>
									<th>Title</th>
									<th>Content</th>
									<th>Create date</th>
									<th>Accept</th>
									<th>Delete Post</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="post : ${pager.getPosts()}">
									<td><img class="img-responsive" th:src="${post.imageUrl}" width="100px"></td>
									<td th:text="${post.title}"></td >
									<td th:text="${post.body.length() > 255 ? post.body.substring(0,255) : post.body}"></td >
									<td th:text="${post.createDate}"></td >
									<td><a th:href="@{'/admin/post/accept/' + ${post.id}}" th:if="${post.accepted == 0}">Accept</a></td>
									<td><a th:href="@{'/admin/post/delete/' + ${post.id}}">Delete</a></td>
								</tr >
							</tbody>
						</table>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>
	<div th:replace="/fragments/pagination :: pagination(URLparameter='/admin/post')"/>
	</div>
	
</body>
</html>