<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

	<!-- <div>
	    <h4><a th:href="@{/oauth2/authorization/google}">Login with Google</a></h4>   
	</div>
	<div><p>OR</p></div> -->
	
    <div class="form">
        <form th:action="@{/login}" method="post">
        	<h1><b>Login</b></h1>
        
            <fieldset>

                <div th:if="${param.error}" class="alert alert-danger">
                 	Invalid username and password.
                </div>

                <div th:if="${param.logout}" class="alert alert-info">
                	You have been logged out.
                </div>

                <div class="input-fields">
                    <input class="field" type="text" name="username" id="username"
                           placeholder="UserName" required="true" autofocus="true"/>
                    <input class="field" type="password" name="password" id="password"
                           placeholder="Password" required="true"/>
                </div>
	
				<div class="buttons">
					<input class="button" type="submit" value="Login"/>
					<!-- <input type="submit" name="google_login" value="Login via Google"/> -->
	    			<a class="button" th:href="@{/oauth2/authorization/google}">Login with Google</a>  
				</div>
                
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>