<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Spring Boot Thymeleaf + Spring Security</title>-->

    <div th:replace="/fragments/header :: header-css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <!--Show this info message only if registered successfully
    <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>-->

    <div class="form">
        <form autocomplete="off" action="#" th:action="@{/registration}"
              th:object="${user}" method="post" role="form">
            <h1><b>Registration</b></h1>
            
            <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

			<div class="input-fields">
				<div class="field">
	                <input th:attr="class=${#fields.hasErrors('name') ? 'error' : ''}"
	                	type="text" th:field="*{name}" placeholder="Name"
	                />
	                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
	                       class="alert error-msg"></label>
	            </div>
	
	            <div class="field">
	                <input th:attr="class=${#fields.hasErrors('lastName') ? 'error' : ''}"
	                	type="text" th:field="*{lastName}" placeholder="Last Name"
	                />
	                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
	                       class="alert error-msg"></label>
	            </div>
	
	            <div class="field">
	                <input th:attr="class=${#fields.hasErrors('email') ? 'error' : ''}" 
	                	type="text" th:field="*{email}" placeholder="Email"
	                />
	                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
	                   	   class="alert error-msg"></label>
	            </div>
	
	            <div class="field">
	                <input th:attr="class=${#fields.hasErrors('password') ? 'error' : ''}"
	                	type="password" th:field="*{password}" placeholder="Password"
	                />
	                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
	                       class="alert error-msg"></label>
	            </div>
	
	            <div class="field">
	                <input th:attr="class=${#fields.hasErrors('username') ? 'error' : ''}"
	                	type="text" th:field="*{username}" placeholder="Username"
	                />
	                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
	                       class="alert error-msg"></label>
	            </div>
			</div>
            
            <div class="buttons">
                <input class="button" type="submit" value="Submit"/>
            </div>

        </form>
    </div>
</div>

<!-- /.container -->

</body>
</html>