<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  	<div th:replace="/fragments/header :: header-css"/>
	    
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main2.css}">
	</head>
  
  	<body>
  		<div th:replace="/fragments/header :: header"/>
  	
	   	<div class="container"> 
	     	<h1 class="text-center">User info</h1> 
	     	
	     	<div class="container"> 
	      		<div class="row profile" style="display:flex">        
	       			<div class="col-md-2" style="padding-right: 0px;padding-left: 0px;width: 200px;">          
	        			<div class="profile-sidebar" style="padding-top: 0px;">                          
	         				<div class="profile-userpic">
	           					<img src="https://hocwebgiare.com/thiet_ke_web_chuan_demo/bootstrap_user_profile/images/profile_user.jpg" class="img-responsive" alt="Thông tin cá nhân">               
	         				</div>   
	         				                                         
	         				<div class="profile-usertitle">                   
	          					<div class="profile-usertitle-name"><p th:text="${user.name}">Name</p></div>                              
	         				</div>
	        			</div>
	       			</div>
	       			
	       			<div class="col-md-10">
	         			<div class="text-center">
	           				<table class ="table table-bordered">
	             				<thead>
	               					<tr style="background-color:darkgrey;">
	                 					<th style="text-align:center">Name</th>
	                 					<th style="text-align:center">Last Name</th>
	                 					<th style="text-align:center">Email</th>
	                 					<th style="text-align:center">Username</th>
	               					</tr>
	             				</thead>
	             				
	             				<tbody>
					               	<tr>
					                 	<td th:text="${user.name}">Name</td>
					                 	<td th:text="${user.lastName}">Last Name</td>
					                 	<td th:text="${user.email}">Email</td>
					                 	<td th:text="${user.username}">Username</td>
					               	</tr>
					           	</tbody>
	
	           				</table>
	         			</div>    
	         			                                                                                 
	         			<div class="profile-usermenu">                    
	          				<ul class="nav">                      
	           					<li class="active">
	             					<a href="https://hocwebgiare.com/">
	               						<i class="glyphicon glyphicon-info-sign">
	               						</i>Change user info
	             					</a>                                  
	          				</ul>                
	         			</div>                            
	        		</div>     
	       		</div>      
	      	</div>
	     </div>
  	</body>
</html>